# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
environnement/
venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/

# Sécurité
.openai_api_key
keys.jsontest_groq.py
.env
test_groq.py
