
{% extends 'Bookstor/base.html' %}
{% load static %}
{% block body %}

<div class="">
    <div class="log h-25 ">
        <br><br><br>


        <div class="container-fluid col-lg-9 col-md-9 col-sm-9 col-xl- col-xxl-9 ">

            <div class="row justify-content-center align-items-center ">


                <div class="col-lg-5 bg-dark bg-opacity-50 col-md-5 col-sm-5 col-xl-5 col-xxl-5 mt-3  login1">
                    <br>
                    <center>
                        <span class="fa fa-lock fs-1 text-warning"></span>
                        <h1 class="text-light fw-bold">Se connecter</h1>
                        {% for message in messages %}
                        <strong class="text-warning fw-bold"> {{message}}</strong>
                        {% endfor %}

                    </center>
                    <br><br>
                    <form action="{% url  'login' %}" method="POST">
                        {% csrf_token %}
                        <center>
                            <input type="text" name="username" id="username"
                                placeholder="Entrez votre nom d'utilisateur" required
                                class=" rounded border-0 w-75  p-2 bg-dark bg-opacity-75 bouton-login"> <br><br>
                            <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe"
                                required class=" rounded border-0 w-75  p-2 bg-dark bg-opacity-75 bouton-login">
                            <br><br>
                        </center>


                        <br>

                        <center><button type="submit"
                                class=" border-0 button-log bg-success text-light p-2 ">Connecter</button>


                            <br>

                            <br>

                            <p class="text-warning"> Ou se connecter via notre plateforme</p>
                            <span class="fab fa-facebook text-warning fs-4"></span>
                            <span class="fab fa-google text-warning ms-4 fs-4"></span>
                            <span class="fab fa-github ms-4 fs-4 text-warning"></span>
                        </center>
                    </form>


                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4  col-xxl-4 bg-warning bg-opacity-75 mt-3 redirection-login1" style="background-image: url('/static/lien/img/patri.webp'); background-size: 120px; background-repeat: no-repeat; background-position: center; ">
                    <center>
                        <br> <br>
                        <h1 class="fw-bold fs-1 text-dark">Bienvenue sur <y class=" text-dark fw-bold"> ii-dossiers!</y>
                        </h1>

                        <br>
                        
                        <br><br> <br> <br><br> <br>
                        <center>
                            <p class="text-dark fw-bold">vous n'avez pas encore de compte? <br>Cliquez ici pour vous inscrire.
                            </p>
                        </center>
                        <a href="{% url 'regform' %}" class="text-dark" ><button
                                class="border-0 button-log">S'inscrire</button></a>
                        <br><br>



                </div>

            </div>

            <br>
        </div>
</div>
{% endblock %}