{% extends 'dashboard/base.html' %}



{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="color: red">
        </div>
        <div class="col-lg-10 mb-3">
            <div class="col-12 mb-3">
                <div id="content-wrapper">
                    <div class="container-fluid"> <br>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="">Utilisateur : {{ object.username }} </a>
                        </ol>
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-table text-warning"></i>
                                Détails de l'utilisateur
                            </div>
                            <div class="card-body">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}

                                <div class="row">
                                    <div class="col-12">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="alert alert-warning" role="alert">
                                                Êtes-vous sûr de supprimer les détails de {{ object }} ?
                                            </div>
                                            <input type="submit" class="btn btn-danger" value="Oui, supprimez-le" />
                                            <a class="btn btn-warning" href="{% url 'aluser' %}">Non</a>
                                        </form>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}