{% extends 'dashboard/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<style>
  :root {
       --cameroon-green: #007a5e;
       --cameroon-red: #ce1126;
       --cameroon-yellow: #fcd116;
       --cameroon-star: #ffffff;
   }
   
   .card-header-cameroon {
       background: linear-gradient(to right, var(--cameroon-green) 33%, var(--cameroon-red) 33% 66%, var(--cameroon-yellow) 66%);
       color: white;
       position: relative;
       padding: 15px 20px;
   }
   
   .card-header-cameroon::after {
       content: "★";
       color: var(--cameroon-star);
       position: absolute;
       right: 330px;
       top: 50%;
       transform: translateY(-50%);
       font-size: 1.2rem;
   }
   
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1" style="color: red">
    </div>
    
    <div class="col-sm-3" style="color: red">
      <p style="color: blue"></p>
    </div>



    <div class="col-sm-6" style="padding-top: 25px">
      <br>
      <div class="card-header card-header-cameroon">
                            
                        
        <br>
    </div> 
      <div class="card">
      </div>


      <div class=" card mb-2">
        <div class="card-body">

          <div class="">
            <div class="">
              {% for feedback in feedbacks %}


              <div class="chat" style="width: 100%; background: white; box-shadow: 2px 0px 2px 2px green;">

                <strong><small class="chat-user-special text-danger"> {{ feedback.delete_request }}</small></strong>
                <a href="{% url 'adrequestview' feedback.pk %} " ><span class="fa fa-trash text-danger  " style="float: right; font-size: 1.5em;"></span></a>

              </div><br><br><br>

              {% empty %}
              <h1 class="heading">No delete request</h1><br>

              {% endfor %}

              <div class="col-sm-4"></div>
            </div>


          </div>
        </div>
      </div>

    </div>



    <div class="col-sm-2" style="color: red">
    </div>

  </div>
</div>


{% endblock content %}