{% extends 'librarian/base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="col-12 mb-3">
                <div id="content-wrapper">
                    <div class="container-fluid"> <br>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="">Nom complet : {{ object.title }} </a>
                        </ol>
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-table text-warning"></i>
                                Détails du Dossier
                            </div>
                            <div class="card-body">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}

                                <div class="row">
                                    <div class="col-12">
                                        <ul class="list-group">
                                            <li class="list-group-item"><strong>Nom complet:</strong> {{ object.title }}</li>
                                            <li class="list-group-item"><strong>Contact  :</strong> {{ object.author }}
                                            </li>
                                            <li class="list-group-item"><strong>Description de laffaire:</strong> {{ object.desc }}
                                            </li>
                                            <li class="list-group-item"><strong>Téléchargé par :</strong> {{ object.uploaded_by }}</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row top-buffer" style="padding-top: 10px">
                                    <div class="col-12">
                                        <a href="{% url 'lmbook' %}"><button type="button"
                                                class="btn btn-success">Retour</button></a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}